
<section class="working-time">
  <div class="flex-container">
    <table>
      <tr>
        <th>Id</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr v-for="(data, index) in dataBack">
        <td>{{data.id}}</td>
        <td>{{moment(data.start).format('DD MMMM YYYY, h:mm:ss a')}}</td>
        <td>{{moment(data.end).format('DD MMMM YYYY, h:mm:ss a')}}</td>
        <td><span class="click-link" v-on:click="updateWorkingTime(data.start, data.end)">Edit</span></td>
        <td><span class="click-link" v-on:click="deleteWorkingTime(data.id)">Delete</span></td>
      </tr>
    </table>
  </div>
</section>
