
<section class="clock-manager-detail">
    <div class="flex-container">
        <button @click.stop.prevent="createWorkingTime()">CREATE A NEW CLOCK</button>
    </div>
    <div class="flex-container">
        <table>
            <tr>
                <th>Id</th>
                <th>Time</th>
                <th>Status</th>
            </tr>
            <tr v-for="(data, index) in dataBack">
                <td>{{data.id}}</td>
                <td>{{moment(data.time).format('DD MMMM YYYY, h:mm:ss a')}}</td>
                <td>{{data.status}}</td>
            </tr>
        </table>
    </div>
</section>
