
<section class="chart-manager">
  <h1>Dashboard</h1>
  <!-- <donut-chart id="donut" :data="donutData" :colors="arrayColors" resize="true"></donut-chart> -->
  <div>
      <h3>Working time per day</h3>
      <input v-model="startTime" type="date" name="field3" class="field-long" placeholder="Start date" />
      <input v-model="endTime" type="date" name="field3" class="field-long" placeholder="End date" />
      <line-chart id="line" :data="lineData" :colors="lineColors" :xkey="xkey" :ykeys="ykeys" :labels="labels"  :x-label-format="xLabelFormat"
      :xLabels='xLabels' :xLabelAngle="xlabelangle" :hideOver="true" :resize="true" ></line-chart>
  </div>
  <div>
      <h3>Working time per week</h3>
      <input v-model="startTimeBar" type="date" name="field3" class="field-long" placeholder="Start date" />
      <input v-model="endTimeBar" type="date" name="field3" class="field-long" placeholder="End date" />
      <bar-chart id="bar" :data="barData" :colors="barColors" :xkey="xkeyBar" :ykeys="ykeysBar" :labels="labelsBar" 
      :xLabels='xLabelsBar' :xLabelAngle="xlabelangleBar" :hideOver="true" :resize="true" ></bar-chart>
  </div>
  <div>
      <h3>Working time per month</h3>
      <bar-chart id="bar" :data="donutData" :colors="donutColors" :xkey="xkeyDonut" :ykeys="ykeysDonut" :labels="labelsDonut" 
      :xLabels='xLabelsBar' :xLabelAngle="xlabelangleBar" :hideOver="true" :resize="true" ></bar-chart>
  </div>
  

</section>  

