<section class="menucomp" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">

    <div class="div_menu">
        <router-link to="/"><h1 class="menu_title">Time Manager</h1></router-link>
        <img v-if="$parent.AccessKey != ''" class="disconnect" src="https://img.icons8.com/material-outlined/24/000000/shutdown.png" v-on:click="disconnectUser">
    </div>

    <div class="div_sous_menu" v-if="$parent.AccessKey != ''">
        <ul class="ul_menu">
            <li><router-link to="/working-times">WORKING TIMES</router-link></li>
            <li><router-link to="/clock-manager">CLOCK MANAGER</router-link></li>
            <li><router-link to="/chart-manager">CHART MANAGER</router-link></li>
            <li><router-link to="/user">{{ this.Username.toUpperCase() }}</router-link></li>
        </ul>
    </div>

</section>
